/* Index
Page index : 
media queries : 
Page fantasy : 

*/

/* general */

:root{
   --bleu-nuit: #000226;
   --dore : #ffd700;
   --pastel-dore: #ead998;
   --pastel-bleu: #2f3a44; 
}

@font-face {
    font-family: "Cormorant";
    src: url("../fonts/CormorantGaramond-VariableFont_wght.woff2") format(woff2);
    font-weight: normal;
    font-style: normal;
}

/*Mobile*/
@media screen and (max-width:576px){

.navDesktop{
    display: none !important;
}

}

/* tablette*/
@media screen and (min-width:577px) and (max-width:899px) {
    
}

/* desktop*/
@media screen and (min-width:577px) {
    
    /* .navMobile{
        display: none !important;
    } */

}

/* INDEX */
/* header */

.navMobile{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--bleu-nuit);
}

.navDesktop{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--bleu-nuit);
}

.btn-dark{
    background-color: var(--bleu-nuit);
    border: none;
}

.navDesktop li{
    list-style: none;
}

.navDesktop a{
    text-decoration: none;
    color: white;
    vertical-align: middle;
    padding-top: 7px;
}


.navLogo{
    font-size: 140%;
}

/* body */

body {
    margin: 0px;
    font-family: "Cormorant", 'Times New Roman', Times, serif;
}

.imgContainer {
    width: 100%;
    height: 520px;
    background-image: url(../images/Banner\ Index.jpg);
    background-size: cover;
    background-position: center;
}

.h1index{
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
}

h2{
    text-align: center;
    font-size: 3rem;
}

.containerSorties{
    display: flex;
    justify-content: space-around;
}

.bookSorties{
    background-color: var(--pastel-dore);
    padding: 40px;
}

.bookCover{
    height: 233px;
    width: 185px;
    display: block;
    margin: 0 auto;
}

.titre{
    text-align: center;
    font-size: 40px;
}

.auteur{
    text-align: center;
    font-size: 30px;

}

.resumeSorties{
    text-align: justify;

}

.auteurMois{
    background-color: var(--pastel-bleu);
    margin-top: 40px;
    margin-bottom: 40px;
    padding-bottom: 50px;
    padding-top: 25px;
}

.auteurMois h2{
    color: white;
    margin-bottom: 20px;
}

.containerAuteur{
    background-color: white;
    display: flex;
    justify-content: center;
    width: 60%;
}

.portrait{
    width: 184px;
    height: 230px;
    margin: 40px 60px 40px 60px;
}

.texteAuteur {
    margin: 40px 60px 40px 0px;
}

.texteAuteur span{
    font-size: 36px;
}

.texteAuteur p{
    text-align: justify;
    font-size: 24px;
}

.prix{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 100px;
    margin: 100px 400px 100px 400px;
}

.bookPrix{
    background-color: var(--pastel-dore);
    padding: 60px;
}

.savoirPlus{
    text-decoration: none;
    color: black;
    font-weight: 600;
    text-align: center;
}

.buttonPrix{
    background-color: white;
    border: solid 1px black;

}

/* footer */

footer{
    background-color: var(--bleu-nuit);
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 140%; 
}

footer a{
    text-decoration: none;
    color: white;
    display: block;
}

.reseauxFooter{
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}

.contactFooter, .planFooterGauche, .planFooterDroite{
    padding-top: 30px;
}

/*GALERIE - display pour masonry*/

.grid {
  margin: 0 auto;
}

.grid-sizer,
.grid-item {
  width: 30%; /* largeur d'une colonne */
}

.grid-item {
  margin-bottom: 20px;
}

.grid-item img {
  display: block;
  width: 100%;
  border-radius: 6px;
}