/* Index
Page index : 
media queries : 
Page fantasy : 

*/

/* general */

:root{
   --bleu-nuit: #000226;
   --dore : #ffd700;
   --pastel-dore: #ead998;
   --pastel-bleu: #2f3a44; 
}

@font-face {
    font-family: "Cormorant";
    src: url("../fonts/CormorantGaramond-VariableFont_wght.woff2") format(woff2);
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0px;
    font-family: "Cormorant", 'Times New Roman', Times, serif;
}

/*Mobile*/
@media screen and (max-width:576px){

.navDesktop, .navUnivers{
    display: none !important;
}

}

/* tablette*/
@media screen and (min-width:577px) and (max-width:899px) {
    
}

/* desktop*/
@media screen and (min-width:577px) {
    
    .navMobile{
        display: none !important;
    }

}

/**** INDEX ****/
/* header */

.navMobile{
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--bleu-nuit);
}

.navMobile button{
    background-color: var(--bleu-nuit);
    border: none;
}
.navMobile img{
    margin-top: 5px;
    margin-bottom: 5px;
}
.navMobile .dropdown-menu a{
    padding-top: 15px;
    font-size: 1.3rem;
}

.navDesktop{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--bleu-nuit);
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0px;
}
.navDesktop .btn-dark{
    background-color: var(--bleu-nuit);
    border: none;
}
.navDesktop li{
    list-style: none;
}
.navDesktop a{
    text-decoration: none;
    color: white;
    padding-top: 63px;
    font-size: 2.25rem;
}
.navDesktop button{
    font-size: 2.25rem;
}
.navDesktop .navLogo{
    font-size: 3rem;
}
.navDesktop .dropdown-menu{
    background-color: var(--pastel-bleu);
    padding-bottom: 20px;
}
.navDesktop .dropdown-item{
    padding : 15px 40px 15px 40px;
}

/* body */

.imgContainer {
    width: 100%;
    height: 520px;
    background-image: url(../images/bannerIndex.jpg);
    background-size: cover;
    background-position: center;
}
.h1index{
    text-align: center;
    font-size: clamp(2.25rem, 6vw, 4rem);
    font-weight: 800;
    text-transform: uppercase;
    margin: 50px auto 60px auto;
}


h2{
    text-align: center;
    font-size: clamp(1.4rem, 6vw, 3.3rem);
}
.sorties h2{
    margin-bottom: 60px;
}
.containerSorties{
    display: flex;
    justify-content: center;
    gap: 5%;
}
.bookSorties{
    background-color: var(--pastel-dore);
    padding: 40px 80px 40px 80px;
    width: 28%;
}
.bookCover{
    height: 230px;
    width: 160px;
    display: block;
    margin: 0 auto;
}
.titre{
    text-align: center;
    font-size: clamp(1rem, 4vw, 2.5rem);
    margin-bottom: -10px;
}
.auteur{
    text-align: center;
    font-size: clamp(0.81rem, 4vw, 2rem);
    margin-bottom: 35px;

}
.resumeSorties{
    text-align: justify;
    width: 95%;
    font-size: clamp(0.75rem, 3vw, 1.5rem);
    line-height: 120%;
}


.auteurMois{
    background-color: var(--pastel-bleu);
    margin-top: 40px;
    margin-bottom: 40px;
    padding-bottom: 50px;
    padding-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.auteurMois h2{
    color: white;
    margin-bottom: 20px;
    width: 100%;
}
.containerAuteur{
    background-color: white;
    display: flex;
    width: 55%;
}
.portrait{
    width: 184px;
    height: 230px;
    margin: 40px 60px 40px 60px;
}
.texteAuteur {
    margin: 40px 60px 40px 0px;
}
.texteAuteur span{
    font-size: clamp(0.81rem, 4vw, 2rem);
}
.texteAuteur p{
    text-align: justify;
    font-size: clamp(0.75rem, 3vw, 1.5rem);
}


.prix{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.bookPrix{
    display: flex;
    justify-content: center;
    background-color: var(--pastel-dore);
    padding: 40px 50px;
    width: 25%;
    margin: 50px 100px;
    position: relative;
}
.infoBook{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.bookPrix a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: clamp(0.75rem, 3vw, 1.5rem);
    margin-top: auto;
}
.buttonPrix{
    background-color: white;
    border: solid 1px black;
    font-size: clamp(0.81rem, 4vw, 2rem);
    text-align: center;
    width: 200px;
    height: 60px;
    position: absolute;
    top: -32px;
    left: -28px;
}

/* footer */

footer{
    background-color: var(--bleu-nuit);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: clamp(1rem, 4vw, 1.75rem); 
    padding-bottom: 25px;
}
footer a{
    text-decoration: none;
    color: white;
    display: block;
}
.reseauxFooter{
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}
.contactFooter, .planFooterGauche, .planFooterDroite{
    padding-top: 30px;
}

@media screen and (max-width:576px){
    .reseaux img{
        max-width: 80%;
    }

}

/*** COMMUN PAGES UNIVERS ***/

.heroUnivers{
    height: 65vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.heroUnivers h1{
    font-size: clamp(4rem, 6vw, 8rem);
}

.navUnivers{
    background-color: var(--pastel-bleu);
    width: 247px;
    position: sticky;    
    top: 40px;           
    align-self: start;   
    padding: 32px 24px;
    margin-left: 150px;  
}
.navUnivers a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 2.25rem;
}


.listeRomans{
    display: grid;
    grid-template-columns: 247px 1fr;
    column-gap: 60px; 
    align-items: start; 
    position: relative;
}
.rowBook{
    grid-column: 2;      
    display: flex;
    justify-content: center;
    gap: clamp(18px, 2vw, 60px);
    margin: 20px 350px 10px 200px;  
}
.presLivre{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--pastel-dore);
    padding: 40px 30px;
    width: 30%;
    height: 100%;
    margin-bottom: 30px;
    max-height: 450px;
    position: relative;
}
.coverUnivers{
    height: 230px;
    width: 160px;
    display: block;
    margin: 0 auto;
}
.titreUnivers{
    text-align: center;
    font-size: clamp(1rem, 6vw, 2.5rem);
    margin-bottom: -10px;
}
.auteurUnivers{
    text-align: center;
    font-size: clamp(0.81rem, 4vw, 2rem);
    margin-bottom: 35px;
}
.presLivre a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: clamp(0.75rem, 3vw, 1.5rem);
    margin-top: auto;
}


@media screen and (max-width:576px){
    .rowBook{
        margin: 0px auto;
    }

    .presLivre{
        width: 45%;
    }
}

/* tablette*/
@media screen and (min-width:577px) and (max-width:899px) {
    
}

/* desktop*/
@media screen and (min-width:577px) {
    
}

/*** FANTASY ***/

.fantasy .heroUnivers{
    background-image: url(../images/bannerFantasy.jpg);
}

/*** POLICIER ***/

.policier .heroUnivers{
    background-image: url(../images/bannerPolicier.jpg);
}

/*** ROMANCE ***/

.romance .heroUnivers{
    background-image: url(../images/bannerRomance.jpg);
}

/*** JEUNESSE ***/

.jeunesse .heroUnivers{
    background-image: url(../images/bannerJeunesse.jpg);
}

/*** FICHES DETAILS ***/

.coverFront{
    width: 35%;
}

.coverBack{

}

/*** GALERIE ***/

.grid {
    position: relative;
    margin: 0 auto;
}

.grid-sizer {
    width: 33.333%;
}

.grid-item {
    width: 33.333%;
    margin-bottom: 16px;
    display: block;
}

.grid-item img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}

/*** CONTACT ***/

.contacter{
    background-color: var(--pastel-dore);
}

.contacter #envoyerButton{
    background-color: var(--bleu-nuit);
    color: white;
    border: none;
    padding: 5px 7px;
}

/*** MENTIONS LEGALES, POLITIQUE CONFIDENTIALITE, PLAN DU SITE ***/

.h1Commun{
    font-size: clamp(1.8rem, 3vw, 3.3rem);
}

.planDuSite .container a, .planDuSite .container li{
    font-size: 1.5rem;
}

.confidentialite p{
    font-size: clamp(1rem, 4vw, 1.75rem); 
}

.mentions p{
    font-size: clamp(1rem, 4vw, 1.75rem);
}