/* Index
Page index : 
media queries : 
Page fantasy : 

*/

/* general */

:root{
    --bleu-nuit: #000226;
    --dore : #ffd700;
    --pastel-dore: #ead998;
    --pastel-bleu: #2f3a44; 
}

@font-face {
    font-family: "Cormorant";
    src: url("../fonts/CormorantGaramond-VariableFont_wght.woff2") format(woff2);
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0px;
    font-family: "Cormorant", 'Times New Roman', Times, serif;
}

/*MEDIA QUERIES NAVIGATION*/

@media screen and (max-width:576px){
.navDesktop, .navUnivers{
        display: none !important;
    }
#carouselIndicators1, #carouselIndicators2, #carouselIndicators3, #controlPrev, #controlNext{
        display: none;
    }
}

/* tablette*/
@media screen and (min-width:577px) and (max-width:899px) {
    .navUnivers{
    display: none !important;
    }
}

/* desktop*/
@media screen and (min-width:577px) {
    .navMobile{
        display: none !important;
    }
}

/**** INDEX ****/

/* header */

.navMobile{
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--bleu-nuit);
}

.navMobile button{
    background-color: var(--bleu-nuit);
    border: none;
}
.navMobile img{
    margin-top: 5px;
    margin-bottom: 5px;
}
.navMobile .dropdown-menu a{
    padding-top: 15px;
    font-size: 1.3rem;
}

.navDesktop{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bleu-nuit);
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0px;
}
.navDesktop li{
    list-style: none;
}
.navDesktop a{
    text-decoration: none;
    color: white;
    font-size: 2.25rem;
}
.navDesktop button{
    font-size: 2.25rem;
    background-color: var(--bleu-nuit);
    border: none;
}
.navDesktop #navLogo{
    font-size: 3rem;
}
.navDesktop .dropdown-menu{
    background-color: var(--pastel-bleu);
    padding-bottom: 20px;
}
.navDesktop .dropdown-item{
    padding : 15px 40px 15px 40px;
}

/* body */

.imgContainer {
    width: 100%;
    height: 160px;
    background-image: url(../images/bannerIndex.jpg);
    background-size: cover;
    background-position: 50% 40%;
}
.h1index{
    text-align: center;
    font-size: clamp(2.25rem, 6vw, 4rem);
    font-weight: 800;
    text-transform: uppercase;
    margin: 30px auto 35px auto;
}


h2{
    text-align: center;
    font-size: clamp(1.8rem, 6vw, 3.3rem);
}

.bookSorties{
    background-color: var(--pastel-dore);
    padding: 15px 5px;
    width: 50%;
}
.bookCover{
    width: 50%;
    display: block;
    margin: 0 auto;
}
.titre{
    text-align: center;
    font-size: clamp(1.2rem, 4vw, 2.5rem);
    margin-bottom: -8px;
}
.auteur{
    text-align: center;
    font-size: clamp(0.90rem, 4vw, 2rem);
    margin-bottom: 15px;

}
.resumeSorties{
    text-align: justify;
    font-size: clamp(0.85rem, 3vw, 1.5rem);
    line-height: 120%;
}


.auteurMois{
    background-color: var(--pastel-bleu);
    margin-top: 40px;
    margin-bottom: 40px;
    padding-bottom: 50px;
    padding-top: 25px;
}
.auteurMois h2{
    color: white;
}
.containerAuteur{
    background-color: white;
    display: flex;
    width: 95%;
}
.portrait{
    width: 100%; 
    margin: 5px 10px;
}
.texteAuteur {
    padding: 30px 5px;
}
.texteAuteur span{
    font-size: clamp(0.81rem, 4vw, 2rem);
}
.texteAuteur p{
    text-align: justify;
    font-size: clamp(0.75rem, 3vw, 1.5rem);
}


.prix{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}
.bookPrix{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 40%;
    margin: 10px;
}
.infoBook{
    background-color: var(--pastel-dore);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 5px;
    height: 220px;
}
.bookPrix a{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: clamp(0.75rem, 3vw, 1.5rem);
    margin-top: auto;
}
.buttonPrix{
    font-size: clamp(1rem, 4vw, 2rem);
    text-align: center;
    vertical-align:auto;
    width: 100%;
    height: 20px;
}

/*MEDIA QUERIES */

@media screen and (min-width:577px) {

    .h1index{
        margin: 50px auto 60px auto;
    }
   .imgContainer {
        height: 520px;
    }
    .bookSorties{
        padding: 30px 50px;
        width: 28%;
    }
    .auteur{
        margin-bottom: 35px;
    }

    .portrait{
        width: 70%;
        margin: 40px 60px;
    }
    .containerAuteur{
        width: 55%;
    }
    .texteAuteur {
        margin: 40px 60px 40px 0px;
    }

    .buttonPrix{
        position: absolute;
        top: -32px;
        left: -28px;
    }
    .bookPrix{
        background-color: var(--pastel-dore);
        padding: 40px 50px;
        width: 25%;
        margin: 50px 100px;
        position: relative;
    }
    .buttonPrix{
        background-color: white;
        border: solid 1px black;
        width: 200px;
        height: 60px;
    }
    .infoBook{
        height: 100%;
    }
}

/* footer */

footer{
    background-color: var(--bleu-nuit);
    display: flex;
    flex-wrap: wrap;
    color: white;
    font-size: clamp(1rem, 4vw, 1.75rem); 
    padding-bottom: 25px;
}
footer a{
    text-decoration: none;
    color: white;
    display: block;
}
.reseauxFooter{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.reseaux, .contactFooter, .planFooterGauche, .planFooterDroite{
    padding : 20px 20px;
    width: 50%;
}
#logoFooter{
    width: 100%;
    height: 170px;
}
.reseaux .reseauxFooter img{
    width: 20%;
    height: auto;
    margin: 5px;
}

/*Media query footer*/
@media screen and (min-width:577px){
    .contactFooter, .planFooterGauche, .planFooterDroite{
        padding : 60px 20px 0px 20px;
        width: 25%;
    }
    #logoFooter{
        width: 100%;
        height: 400px;
    }
    .reseaux{
        width: 25%;
        padding-top: 0px;
    }
}

/*** COMMUN PAGES UNIVERS ***/

.heroUnivers{
    height: 65vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.heroUnivers h1{
    font-size: clamp(4rem, 6vw, 8rem);
}

.navUnivers{
    background-color: var(--pastel-bleu);
    width: 247px;
    position: sticky;    
    top: 40px;           
    align-self: start;   
    padding: 32px 24px;
    margin-left: 300px;  
}
.navUnivers a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 2.25rem;
}


.listeRomans{
    display: grid;
    grid-template-columns: 247px 1fr;
    column-gap: 60px; 
    align-items: start; 
    position: relative;
}
.rowBook{
    grid-column: 2;      
    display: flex;
    justify-content: center;
    gap: clamp(18px, 2vw, 60px);
    margin: 20px 350px 10px 200px;  
}
.presLivre{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--pastel-dore);
    padding: 40px 30px;
    width: 30%;
    height: 100%;
    margin-bottom: 30px;
    max-height: 450px;
    position: relative;
}
.coverUnivers{
    width: 160px;
    display: block;
    margin: 0 auto;
}
.titreUnivers{
    text-align: center;
    font-size: clamp(1rem, 6vw, 2.5rem);
    margin-bottom: -10px;
}
.auteurUnivers{
    text-align: center;
    font-size: clamp(0.81rem, 4vw, 2rem);
    margin-bottom: 35px;
}
.presLivre a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: clamp(0.75rem, 3vw, 1.5rem);
    margin-top: auto;
}

/*Media query univers*/

@media screen and (max-width:576px){
    .heroUnivers{
        height: 35vh;
    }

    .rowBook{
        margin: 0px 0px 0px 5px;
        width: 100%;
        justify-content: flex-start;
        height: auto;
    }
    .presLivre{
        width: 45%;
        height: 350px;
    }
    .listeRomans{
        grid-template-columns: 1fr;
        column-gap: 10px;
    }
    .coverUnivers{
        width: 80px;
    }
}

/*** FANTASY ***/

.fantasy .heroUnivers{
    background-image: url(../images/bannerFantasy.jpg);
}

/*** POLICIER ***/

.policier .heroUnivers{
    background-image: url(../images/bannerPolicier.jpg);
}

/*** ROMANCE ***/

.romance .heroUnivers{
    background-image: url(../images/bannerRomance.jpg);
}

/*** JEUNESSE ***/

.jeunesse .heroUnivers{
    background-image: url(../images/bannerJeunesse.jpg);
}

/*** FICHES DETAILS ***/

.fiches h1{
    font-size: clamp(1.4rem, 6vw, 3.3rem);
}
.coverFront, .coverBack{
    width: 50%;
}
.breadcrumb-item{
    font-size: clamp(0.81rem, 4vw, 2rem);
}
.breadcrumb-item a{
    text-decoration: none;
    color: var(--bs-body-color);
}
.auteurDetail{
    font-size: clamp(0.81rem, 4vw, 2rem);
}

.parutionDetail{
    font-size: clamp(0.81rem, 4vw, 2rem);
}
.resume{
    text-align: justify;
    font-size : clamp(0.75rem, 3vw, 1.5rem);
    font-style: italic;
}
@media screen and (max-width:576px){
    .coverFront, .coverBack{
        width: 70%;
    }
}

/*** GALERIE ***/

.galerie{
    background-color: var(--pastel-bleu);
}
.galerie h1{
    
}

.displayGlightbox{
    margin: 15px;
}

.displayGlightbox img{
    height: 400px;
    object-fit: cover;
    width:100%;
    border-radius: 10px;
}
.ligne1, .ligne2, .ligne3{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    padding: 1rem 0;
}

@media screen and (min-width:577px){
    .ligne1, .ligne2, .ligne3{
        flex-wrap: nowrap;
    }
}

/*** CONTACT ***/

.contacter{
    background-color: var(--pastel-dore);
    font-size : clamp(0.90rem, 3vw, 1.5rem);
}

.trouver p {
    font-size : clamp(0.90rem, 3vw, 1.5rem);
}

.contacter #envoyerButton{
    background-color: var(--bleu-nuit);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
}

.contacter .formulaire input, .contacter .formulaire textarea{
    border: none;
}

/*** MENTIONS LEGALES, POLITIQUE CONFIDENTIALITE, PLAN DU SITE ***/

.h1Commun{
    font-size: clamp(1.8rem, 3vw, 3.3rem);
}

.planDuSite .container a, .planDuSite .container li{
    font-size: 1.5rem;
}

.confidentialite p{
    font-size: clamp(1rem, 4vw, 1.75rem); 
}

.mentions p{
    font-size: clamp(1rem, 4vw, 1.75rem);
}