/* Index
Page index : 
media queries : 
Page fantasy : 

*/

/*page index.html : general */

:root{
   --bleu-nuit: #000226;
   --dore : #ffd700;
   --pastel-dore: #ead998;
   --pastel-bleu: #2f3a44; 
}

@font-face {
    font-family: "Cormorant";
    src: url("../fonts/CormorantGaramond-VariableFont_wght.woff2") format(woff2);
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0px;
    font-family: "Cormorant", 'Times New Roman', Times, serif;
}

/*Mobile*/
@media screen and (max-width:576px){

.navDesktop{
    display: none;
}

}

/* tablette*/
@media screen and (min-width:577px) and (max-width:899px) {
    
}

/* desktop*/
@media screen and (min-width:577px) {
    
    .navMobile{
        display: none;
    }

}


/* Header */

.navMobile{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--bleu-nuit);
}

.navDesktop{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--bleu-nuit);
}

.btn-dark{
    background-color: var(--bleu-nuit);
    border: none;
}

.navDesktop li{
    list-style: none;
}

.navDesktop a{
    text-decoration: none;
    color: white;
    vertical-align: middle;
    padding-top: 7px;
}

.navLogo{
    font-size: 140%;
}

/*Page galerie - display pour masonry*/

.grid {
  margin: 0 auto;
}

.grid-sizer,
.grid-item {
  width: 30%; /* largeur d'une colonne (tu peux ajuster) */
}

.grid-item {
  margin-bottom: 20px;
}

.grid-item img {
  display: block;
  width: 100%;
  border-radius: 6px;
}