/* Index
Page index : 
media queries : 
Page fantasy : 

*/

/* general */

:root{
   --bleu-nuit: #000226;
   --dore : #ffd700;
   --pastel-dore: #ead998;
   --pastel-bleu: #2f3a44; 
}

@font-face {
    font-family: "Cormorant";
    src: url("../fonts/CormorantGaramond-VariableFont_wght.woff2") format(woff2);
    font-weight: normal;
    font-style: normal;
}


/*Mobile*/
@media screen and (max-width:576px){

.navDesktop, .navUnivers{
    display: none !important;
}

}

/* tablette*/
@media screen and (min-width:577px) and (max-width:899px) {
    
}

/* desktop*/
@media screen and (min-width:577px) {
    
    .navMobile{
        display: none !important;
    }

}

/* INDEX */
/* header */

.navMobile{
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--bleu-nuit);
}

.offcanvas {
  width: 60%;
  max-width: 360px;
  height: 50vh;
}

.navDesktop{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--bleu-nuit);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0px;
}

.btn-dark{
    background-color: var(--bleu-nuit);
    border: none;
}

.navDesktop li{
    list-style: none;
}

.navDesktop a{
    text-decoration: none;
    color: white;
    vertical-align: middle;
    padding-top: 40px;
    font-size: 220%;
}

.navDesktop button{
    font-size: 220%;
}


.navLogo{
    font-size: 300% !important;
}

/* body */

body {
    margin: 0px;
    font-family: "Cormorant", 'Times New Roman', Times, serif;
}

.imgContainer {
    width: 100%;
    height: 520px;
    background-image: url(../images/Banner\ Index.jpg);
    background-size: cover;
    background-position: center;
}

.h1index{
    text-align: center;
    font-size: clamp(2.25rem, 6vw, 4rem);
    font-weight: 800;
    text-transform: uppercase;
    margin: 50px auto 60px auto;
}

h2{
    text-align: center;
    font-size: clamp(1.4rem, 6vw, 3.3rem);
}

.sorties h2{
    margin-bottom: 60px;
}

.containerSorties{
    display: flex;
    justify-content: center;
    gap: 5%;
}

.bookSorties{
    background-color: var(--pastel-dore);
    padding: 40px 80px 40px 80px;
    width: 28%;
}

.bookCover{
    height: 233px;
    width: 185px;
    display: block;
    margin: 0 auto;
}

.titre{
    text-align: center;
    font-size: clamp(1rem, 4vw, 2.5rem);
    margin-bottom: -10px;
}

.auteur{
    text-align: center;
    font-size: clamp(0.81rem, 4vw, 2rem);
    margin-bottom: 35px;

}

.resumeSorties{
    text-align: justify;
    width: 95%;
    font-size: clamp(0.75rem, 3vw, 1.5rem);
    line-height: 120%;
}

.auteurMois{
    background-color: var(--pastel-bleu);
    margin-top: 40px;
    margin-bottom: 40px;
    padding-bottom: 50px;
    padding-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.auteurMois h2{
    color: white;
    margin-bottom: 20px;
    width: 100%;
}

.containerAuteur{
    background-color: white;
    display: flex;
    width: 55%;
}

.portrait{
    width: 184px;
    height: 230px;
    margin: 40px 60px 40px 60px;
}

.texteAuteur {
    margin: 40px 60px 40px 0px;
}

.texteAuteur span{
    font-size: clamp(0.81rem, 4vw, 2rem);
}

.texteAuteur p{
    text-align: justify;
    font-size: clamp(0.75rem, 3vw, 1.5rem);
}

.prix{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bookPrix{
    position: relative;
    background-color: var(--pastel-dore);
    padding: 40px 50px 40px 50px;
    width: 25%;
    margin-top: 40px;
    margin-bottom: 40px;
    margin: 50px 100px 50px 100px;
}
.buttonPrix{
    position: absolute;
    top: -32px;
    left: -28px;
}

.savoirPlus a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: clamp(0.75rem, 3vw, 1.5rem);
    position: absolute;
    bottom: 20px;
    left : 175px;
}

.buttonPrix{
    background-color: white;
    border: solid 1px black;
    font-size: clamp(0.81rem, 4vw, 2rem);
    text-align: center;
    width: 200px;
    height: 60px;
}

/* footer */

footer{
    background-color: var(--bleu-nuit);
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: clamp(1rem, 4vw, 1.75rem); 
    margin-top: 20px;
}

footer a{
    text-decoration: none;
    color: white;
    display: block;
}

.reseauxFooter{
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}

.contactFooter, .planFooterGauche, .planFooterDroite{
    padding-top: 30px;
}

/* COMMUN PAGES UNIVERS*/

.navUnivers{
    background-color: var(--pastel-bleu);
    width: 247px;
    height: 268px;
    position: sticky;
}

.navUnivers a{
    display: block;
    color: white;
    font-size: 36px;
}

.listeRomans{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap:wrap;
}

.rowBook{
    display: flex;
    justify-content: center;
    gap: clamp(18px, 2vw, 60px);
    margin: 10px 300px 10px 300px;
}

.presLivre{
    background-color: var(--pastel-dore);
    padding: 40px 30px 40px 30px;
    width: 30%;
    margin-bottom: 30px;
    max-height: 450px;
}

.coverUnivers{
    height: 233px;
    width: 185px;
    display: block;
    margin: 0 auto;
}

.titreUnivers{
    text-align: center;
    font-size: clamp(1rem, 6vw, 2.5rem);
    margin-bottom: -10px;
}

.auteurUnivers{
    text-align: center;
    font-size: clamp(1rem, 4vw, 2.5rem);
    margin-bottom: 35px;
}

@media screen and (max-width:576px){
    .rowBook{
        margin: 0px auto;
    }

    .presLivre{
        width: 45%;
    }
}

/* tablette*/
@media screen and (min-width:577px) and (max-width:899px) {
    
}

/* desktop*/
@media screen and (min-width:577px) {
    
}

/*FANTASY*/

.imgFantasy{

}

/*GALERIE - display pour masonry*/

.grid {
    position: relative;
    margin: 0 auto;
}

.grid-sizer {
    width: 33.333%;
}

.grid-item {
    width: 33.333%;
    margin-bottom: 16px;
    display: block;
}

.grid-item img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}